<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Reading is dreaming with open eyes!</div>
        <div class="masthead-heading text-uppercase">Welcome to the world of books</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#about">Tell Me More</a>
    </div>
</header>
<!-- About-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Blanditiis veritatis asperiores non quasi ratione earum possimus nam ea,
                    tempora similique. Pariatur sed soluta fugit voluptatibus inventore
                    accusantium ex dicta. Deleniti.
                </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Vero esse cupiditate et itaque a natus, ea non culpa atque unde fugit ad?
                    Quas iusto enim id, quaerat possimus facilis animi!
                </p>
            </div>
        </div>
    </div>
</section>