<!-- Access denied-->
<section class="page-section input-section input-section-bg-dark d-flex align-items-center" id="accessDenied">
    <div class="container">
        <br>
        <br>
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Access Denied</h2>
            <h3 class="section-subheading text-muted">Please log in to modify data.</h3>
            <a routerLink="/login" class="btn btn-primary btn-xl text-uppercase">Log in</a>
            <br>
            <br>
            <p class="form-notes">Don't have an account? <a routerLink="/signup">Sign up</a></p>
        </div>
    </div>
</section>