<!-- Books Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <br>
            <h2 class="section-heading text-uppercase">Books</h2>
            <h3 class="section-subheading text-muted">Let's have a look at our collection.</h3>
        </div>
        <!-- Loading animation -->
        <div id="building" *ngIf='!loaded'>
            <div id="blocks">
              <div class="b" id="b1"></div>
              <div class="b" id="b2"></div>
              <div class="b" id="b3"></div>
              <div class="b" id="b4"></div>
            </div>
            <div id="caption">
              Loading..
            </div>
        </div>
        <!-- /Loading animation -->
        <!-- Error message -->
        <div *ngIf='error' id="errorBlock">
            <div id="errorMsg">
                Sorry! Something went wrong.
            </div>
        </div>
        <!-- /Error message -->
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4" *ngFor="let book of books">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href='#book{{book._id}}'>
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" loading="lazy" [src]="book.thumbnail" onerror='this.src="assets/images/book-default.png"' alt="" style="width:400px;height:300px" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">{{book.title}}</div>
                        <div class="portfolio-caption-subheading text-muted">{{book.author}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Single book-->
<div class="portfolio-modal modal fade" *ngFor="let book of books" id="book{{book._id}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal"><img src="assets/images/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Book Details Go Here-->
                            <h2 class="text-uppercase">{{book.title}}</h2>
                            <br>
                            <img class="img-fluid d-block mx-auto" loading="lazy" [src]="book.thumbnail" alt="" onerror='this.src="assets/images/book-default.png"' />
                            <p class="item-intro text-muted">
                                <b>Author</b>: {{book.author}}
                                <br>
                                <b>Genre</b>: {{book.genre}}
                                <br>
                                <br>
                                {{book.description}}
                            </p>
                            <a href="/edit-book/{{book._id}}" class="btn btn-theme" role="button">
                                <i class="fas fa-edit mr-1"></i>
                                Edit
                            </a>
                            <a href="/delete-book/{{book._id}}" role="button" class="btn btn-danger">
                                <i class="fas fa-trash mr-1"></i>
                                Delete
                            </a>
                            <button class="btn btn-success" data-dismiss="modal" type="button">
                                <i class="fas fa-times mr-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>